@using SzkolenieTechniczne.Projekt.Clinic.DTOs
@model List<AppointmentDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Date</td>
            <td><a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.AppointmentId">Delete</a></td>
        </tr>
    }
    </tbody>
    
</table>

<a class="btn btn-outline-success float-right" asp-action="Create">Add</a>